.button {
  border-radius: 18px;
  font-size: 16px;
  padding: 5px 25px 4px;
  border: none;
  margin-right: 10px;
  height: 36px;
  background-color: #fff;
  font-weight: 400;
  user-select: none;
  transition: opacity 0.3s ease-in-out, color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
}

.button:hover {
  opacity: 0.7;
}

.green {
  background-color: #fff;
  color: #37bd72;
}

.black {
  background-color: #000;
  color: #fff;
}

.transparent {
  background-color: transparent;
  color: #fff;
}

.button[disabled] {
  opacity: 0.3;
}
