.dt-wrapper{
  background: #FF6F58;  
  height:100vh;
  width:100vw;
  position: relative;
  overflow:hidden;
  z-index: 1;
}

.dt-nav-header{
  position:absolute;
}

.dt-select-file{
  position: absolute;
  background: #FF6F58;
  height:150vh;
  width:100vw;
  position: absolute;
  z-index: 2;
}

.dt-select-file-header{
  height: 50vh;
  width: 100vw;
  background: #2E332F;
  transition: transform 2s;
  display: table;
}

.dt-select-file-header.is-selected{
  transform: translateY(-50vh); 
  transition: transform 2s;
}

.dt-select-file-header h1{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  opacity: 1;
}

.dt-select-file-header.is-selected h1{
  opacity: 0;
  transition: opacity 2s;
}

.dt-select-file-main{
  height: 50vh;
  transition: transform 2s;  
  transition: height 2s;
}

.dt-select-file-main.is-selected{
  height: 100vh;
  transform: translateY(-50vh);
  transition: transform 2s;
  transition: height 2s;
}

.dt-select-file-instruction{
  height: 50vh;
  width: 100vw;
  display: table;
  position: absolute;
  top: 0;
  transform: translateY(50vh);
  transition: transform 2s;  
}

.dt-select-file-instruction.is-selected{
  transform: translateY(25vh);
  transition: transform 2s;
}

.dt-select-file-instruction h2{
  height: 100%;
  width: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.dt-info{
  background: #FF6F58;
  height:100vh;
  width:50vw;
  position: absolute;
  left:0px;
  transform: translateX(-50vw);
  z-index: 3;
}

.dt-ui{
  background: #2E332F;
  width:100vw;
  position: absolute;
  left:50vw;
  height:100vh;
  z-index: 2;
  transform: translateX(50vw);
}