/* Type */

@font-face {
    font-family: 'Berthold Akzidenz-Grotesk Extended';
    src: url('assets/fonts/AkzidenzGroteskBE-Ex.woff2') format('woff2'),
        url('assets/fonts/AkzidenzGroteskBE-Ex.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Berthold Akzidenz-Grotesk Medium Extended';
    src: url('assets/fonts/AkzidenzGroteskBE-MdEx.woff2') format('woff2'),
        url('assets/fonts/AkzidenzGroteskBE-MdEx.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Berthold Akzidenz-Grotesk Light Extended';
    src: url('assets/fonts/AkzidenzGroteskPro-LightEx.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}



button:focus, textarea:focus, input:focus{
    outline: none;
}

* {
  font-family: 'Berthold Akzidenz-Grotesk Extended';
}

h1 {
  font-size: 38px;
  letter-spacing: 0.06em;
  font-weight: normal;
  color: #fff;
}

.dt-page-wrapper h1{
  margin-bottom: 70px;
}

h2{
  font-family: 'Berthold Akzidenz-Grotesk Light Extended';
  letter-spacing: 2.1px;
  font-weight: normal;
  color: #fff;  
  font-size:40px;
}

p{
  color: #fff;
}

/* Form */

input[type='text'], input[type='password'] {
  border-radius: 50px;
  border: 1px solid #ccc;
  background-color: transparent;
  color: #fff;
  margin-right: 10px;
  margin-bottom: 29px;
  font-size: 16px;
  font-family: 'Berthold Akzidenz-Grotesk Light Extended';
  letter-spacing: 0.09vw;
  width: 100%;
  display: block;
  margin: auto;
  font-size: 16px;
  padding: 8px 17px 8px 20px;
}

input {
  color:#000;
}

input::placeholder{
  color:#A8DABE;
}

/* Change the white to any color ;) */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #57C989 inset;
  -webkit-text-fill-color: #fff;
}

label{
  padding: 8px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.03em;
}

.dt-sym-enc,
.dt-send-mail {
  text-align: left;
  padding: 0 100px;
}

.dt-form-group {
  margin-bottom: 20px !important;
}

.dt-form-group-last {
  margin-bottom: 75px !important;
}

.dt-form-group.dt-toggle input {
  width: 30px;
  float: left;
  position: relative;
  top: -3px;
}

.dt-form-two-inputs input {
  width: 40%;
}


.dt-feedback{
  display: table;
  height: 100%;
  width: 100%;
}

.dt-feedback-content{
  color:white;
  display:table-cell;
  vertical-align: middle;
  text-align: center;
}

/*.dt-feedback-content .dt-link-group{
  width: 77%;
  margin: auto;
  margin-bottom: 25px;
  text-align: left;
}

.dt-feedback-content .dt-link-label{
  margin-bottom: 12px;
  text-align: center;
}
*/

/* Buttons */

.dt-btn.dt-btn-lg {
  border-radius: 100px;
  font-size: 16px;
  padding: 5px 34px 2px 34px;
  border: none;
  margin-right: 10px;
}

.dt-btn.dt-btn-sm {
  /*height: 100px;*/
  border-radius: 100px;
  font-size: 1vw;
  padding: 10px;
  padding-bottom: 8px;
  background-color: #fff;
  border: none;
  margin-right: 10px;
}

.dt-btn.dt-btn-black {
  background-color: #ffffff;
  color: #000;
}

.dt-btn.dt-btn-link {
  background-color: transparent;
  color: #fff;
}

.dt-btn-float-left {
  float: left;
}

.dt-btn-float-right {
  float: right;
}


.dt-btn-group{
  clear: both;
  margin-bottom:75px;
}

/* Shared */

.dt-content-wrap {
  margin-left: 30px;
  margin-bottom: 30px;
}

.dt-wrapper{
  height:100vh;
  width:100vw;
  position: relative;
  overflow:hidden;
  z-index: 1;
}

.dt-nav-header{
  position:absolute;
  width: 88%;
  height:15vh;
  display:table;
  z-index:10;
  margin:0 5vw;
  pointer-events: none;
}

.dt-nav-header-items{
  display: table-cell;
  vertical-align: middle;
  pointer-events: auto;
  width: 10vw;
  text-align: left;
}

.dt-nav-header-item-button{
  color: black;
  display: inline;
  border: 0;
  background: none;
  margin-left: 15px;
  cursor: pointer;
}

.dt-nav-white .dt-nav-header-item-button{
  color: white;
}

.dt-nav-white svg{
  fill: #fff;
  transition: fill 1s;
  margin-bottom: 15px;
}

.dt-nav-black svg{
  fill: #000;
  transition: fill 1s linear 1s;
  margin-bottom: 15px;
}

.dt-nav-key svg{
  margin-bottom: 20px;
}

#dt-datafund-d{
  height: 48px;
  margin-bottom: 22px;
  margin-right: -7px;
}

.dt-nav-key-wrapper{
  position: absolute;
  height: 15vh;
  display: table;
  z-index: 10;
  margin: 0 5vw;
  pointer-events: none;
  right: 0;
  cursor: pointer;
}

.dt-nav-key{
  display: table-cell;
  vertical-align: middle;
  pointer-events: auto;
  width: 10vw;
  text-align: right;
}


.dt-nav-header .dt-nav-header-items{
  display: table-cell;
  vertical-align: middle;
  pointer-events: auto;
  width: 10vw;
}

.dt-nav-header .dt-nav-header-items .dt-df-logo{
  height: 7.4vh;
  color: #fff;
}

.dt-nav-header .dt-nav-key .dt-df-logo path{
  fill: black;
}

.dt-page-wrapper{
  display: table;
  height:100vh;
  width:100vw;
  top:0;
  left:0;
  position: absolute;
  pointer-events: auto;
}

.dt-page-inner-centered{
  display: table-cell;
  vertical-align: middle;
  margin: auto;
  text-align: center;
}

.dt-page-inner-wrapper{
  width: 470px;
  margin: auto;
}

.dt-hidden{
  opacity: 0;
  pointer-events: none;
}

.dt-fade-in{
  opacity: 1;
  display: table;
  transition: opacity 0.7s;  
}

.dt-page-smallprint {
  color: white;
  font-size: 15px;
  margin-top: 75px;
}

.dt-spinner {

}

  /*slide backgrounds*/

  .dt-green{
    background: #57C989;
    background: hsla(146, 52%, 42%, 1);
  }


/* disclaimer */

.dt-disclaimer{
  height:100vh;
  width:100vw;
  position: absolute;
  overflow:hidden;
  z-index: 10;
  background: rgba(0,0,0,0.8);
  color: white;
  display: table;
  text-align: center;
}

.dt-disclaimer-wrapper{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.dt-disclaimer-content{
  text-align: left;
  width: 65%;
  margin: auto;
  height: 50vh;
}

/* select file */

.dt-select-file{
  position: absolute;
  background: #FF6F58;
  height:150vh;
  width:100vw;
  position: absolute;
  z-index: 2;
}

.dt-select-file.is-selected{
  opacity: 0;
  transition: opacity 1s;
  pointer-events: none;
}

.dt-select-file-header{
  height: 50vh;
  width: 100vw;
  transition: transform 1s;
  display: table;
  background-color: #fff;
}

.dt-select-file-header.is-selecting{
  transform: translateY(-50vh); 
  transition: transform 1s;
}

.dt-select-file-header h1{
  color: #000;  
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  opacity: 1;
  transition: opacity 1s linear 0.5s;
}

.dt-select-file-header.is-selecting h1{
  opacity: 0;
  transition: opacity 1s;
}

.dt-select-file-header h1 span.dt-select-file-header-inverted{
  background: #000;
  color: #FFF;
  background: #000;
  color: #FFF;
  padding: 9px;  
}

.dt-select-file-header.is-selecting h1{
  opacity: 0;
  transition: opacity 1s;
}

.dt-select-file-main{
  height: 50vh;
  transition: transform 1s;  
  transition: height 1s;
}

.dt-select-file-main.is-selecting{
  height: 100vh;
  transform: translateY(-50vh);
  transition: transform 1s;
  transition: height 1s;
}

.dt-select-file-instruction{
  font-family: 'Berthold Akzidenz-Grotesk Medium Extended';
  height: 50vh;
  width: 100vw;
  display: table;
  position: absolute;
  top: 0;
  transform: translateY(50vh);
  transition: transform 1s;  
}

.dt-select-file-instruction.is-selecting{
  transform: translateY(25vh);
  transition: transform 0.7s;
}

.dt-select-file-instruction.has-dropped{
  opacity: 0;
  transition: opacity 0.6s;
}

/*left here as although the transition doesn't work with linear gradients, 
it can be amended later on to either haved a setTimeout function to 
re-add it at the appropriate time or to use a png slice (preferable)*/

/*.dt-select-file-instruction-gradient-overlay{
  content:"";
  height: 50vh;
  width: 100vw;
  position: absolute;
  top: 0; 
  background: black;
  display: block;
  pointer-events: none;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.12) 0%,rgba(0,0,0,0) 7%,rgba(0,0,0,0) 100%);
  opacity:1;
  transition: opacity 3s linear 1s;
}
*/

/*.is-selecting .dt-select-file-instruction-gradient-overlay{
  opacity:0;
  transition: opacity 3s linear 1s;
}*/

.dt-select-file-instruction h2{
  height: 100%;
  width: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 40px;
}

.dt-select-file-instruction h2 .dt-select-file-header-underlined {
  border-bottom: 3px solid white;
}

/* select mailbox */

.dt-select-mailbox {
  z-index: 6;
}

/*.dt-mailbox-icon{
  display: inline-block;
  margin-right:2vw;
}

.dt-mailbox-icon button{
  border: 0px;
  border-radius: 3vw;
  background: transparent;
  display: table;
  margin: auto;
}*/

.dt-select-mailbox-mailboxes {
    width: 300px;
    float: left;
}

.dt-select-mailbox-label{
  float: right;
}

.dt-select-mailbox-mailboxes .Dropdown-control{
  background: #57C989;
    background: hsla(146, 52%, 42%, 1);
  background: transparent;
  border-radius: 30px;
  padding: 8px 8px 8px 10px;
  font-size: 16px;
  color: #fff;
  transition: unset;
}

.dt-select-mailbox-mailboxes .Dropdown-placeholder{
  overflow: hidden;
}

.dt-select-mailbox-mailboxes .Dropdown-option{
  font-size: 16px;
  color: #fff;
  overflow: hidden;  
}

.Dropdown-option.is-selected {
  background-color: transparent; 
}

.Dropdown-option:hover {
  background: #57C989;
    background: hsla(146, 52%, 42%, 1);
  transition: background 3s;
  color: #333;
}

.dt-select-mailbox-mailboxes .is-open .Dropdown-control{
  border-radius: 30px 30px 0px 0px;  
}

.dt-select-mailbox-mailboxes .Dropdown-menu{
  background: #57C989;
    background: hsla(146, 52%, 42%, 1);
  border-radius: 0 0 30px 30px;
}

.dt-select-mailbox-mailboxes .Dropdown-arrow {
  border-color: #fff transparent;
  top: 18px;
  right: 18px;
}

.dt-select-mailbox-mailboxes .is-open .Dropdown-arrow {
  border-color: transparent transparent #fff;
}

.dt-mailbox-name{
  color: white;
  border: 1px solid white;
  height: 6vw;
  width: 6vw;
  border-radius: 4vw;
  display: table-cell;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 0.1vw;
  font-size: 2vw;
  padding-top: 0.2vw;
  padding-left: 0.1vw;
  padding-right: 0.1vw;
}

.dt-mailbox-description{
  color:#fff;
  padding: 0;
  padding-top: 1vw;  
}

.dt-feedback-unlock-ui{
  padding:8px;
  width: 75%;
  float: left;
  text-align: left;
  color: white;
  height: 24px; 
}

/* select recipient */

.dt-select-recipient {
  z-index: 7;
}

/* confirm */

.dt-confirm {
  z-index: 8;
}

.dt-confirm .dt-confirm-ui table{
  color: #fff;
  margin: auto;
  margin-bottom: 2vh;
}

.dt-confirm .dt-confirm-ui table td{
  text-align: left;
  padding-right: 1vw;
}

.dt-confirm-ui-group {
  margin-bottom: 75px;
}

.dt-confirm .dt-confirm-upload-unencrypted{
  float:left;
}

.dt-confirm .dt-confirm-upload-unencrypted{
  float:left;
}

/* progress */

.dt-in-progress {
  z-index: 8;
}

.dt-mist{
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  opacity: 0.5;
}

.dt-in-progress h1.dt-in-progress-header{
  font-size: 42px;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.dt-in-progress-icon{
  height: 46px;
  margin: 8px 18px 18px 18px;
  animation: rotate 1.5s linear infinite;
}

.dt-in-progress h2.dt-in-progress-sub{
  font-family: 'Berthold Akzidenz-Grotesk Light Extended';
  font-size: 24px;
}

/* completed */

.dt-in-progress {
  z-index: 9;
}


/* info feedback */

.dt-info{
  top: 0;
  background: #57C989;
  background: #2E332F;
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0px;
  transform: translateX(-50vw);
  transition: transform 1s;
  z-index: 5;
  border-right: 1px #2E332F;
  display: table;
}

.dt-info.is-selected{
  transform: translateX(0);
  transition: transform 1s;
}

.dt-info-content{
  color:white;
  display:table-cell;
  vertical-align: middle;
  text-align: center;
}

.dt-info-content .dt-file-was-sent{
  margin-bottom: 40px;
  font-size: 33px;
  letter-spacing: 0.03em;
}

.dt-info-content .dt-file-was-sent img{
  height: 50px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.dt-info-content .dt-info-filename {
  font-size: 22px;
  margin-bottom: 28px;
}

.dt-info-content .dt-info-filesize{
  font-size: 15px;
  margin-left: 16px;
  font-family: 'Berthold Akzidenz-Grotesk Light Extended';
}

.dt-info-content .dt-info-is-encrypted{
  font-size: 18px;
  margin-bottom: 34px;
  font-family: 'Berthold Akzidenz-Grotesk Light Extended';
}

.dt-feedback-swarmhash-message{
  margin-bottom: 8px;
}

.dt-feedback-swarmhash input{
  width: 28%;
  font-size: 11px;
}

.dt-fairdrop-lock{
  height: 25px;
  margin-bottom: 8px;
  margin-right: 8px;
}

.dt-ui{
  top:0;
  background: #2E332F;
  width:50vw;
  position: absolute;
  left:50vw;
  height:100vh;
  z-index: 5;
  transform: translateX(50vw);
  transition: transform 1s;
  display:table;
}

.dt-ui.is-selected{
  transform: translateX(0);
  transition: transform 1s;
}

.dt-ui .dt-ui-wrapper{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.dt-ui a.dt-file-link{
  color: #fff;
}

/*.dt-progress*/

.dt-progress{
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 20px;
  color: white;
}

.dt-ui-state-0.dt-progress{
  display: none;
}

.dt-progress-indicator{
  border: 2px solid white;
  position: relative;
  top: 2px;
  transition: width 1s;
}

.dt-ui-state-1 .dt-progress-indicator{
  width: 20%;
}

.dt-ui-state-2 .dt-progress-indicator{
  width: 40%;
}

.dt-ui-state-3 .dt-progress-indicator{
  width: 60%;
}

.dt-ui-state-4 .dt-progress-indicator{
  width: 80%;
}

.dt-ui-state-6 .dt-progress-indicator{
  width: 100%;
}



.dt-is-storing.dt-ui-state-1 .dt-progress-indicator{
  width: 25%;
}

.dt-is-storing.dt-ui-state-2 .dt-progress-indicator{
  width: 50%;
}

.dt-is-storing.dt-ui-state-3 .dt-progress-indicator{
  width: 50%;
}

.dt-is-storing.dt-ui-state-4 .dt-progress-indicator{
  width: 75%;
}

.dt-is-storing.dt-ui-state-6 .dt-progress-indicator{
  width: 100%;
}


.dt-progress-labels{
  display: table;
  vertical-align: middle;
  border-top: 1px solid white;
}

.dt-progress-label{
  font-size: 18px;
  width:20vw;
  display: table-cell;
  padding: 8px;
}

.dt-is-storing .dt-progress-label{
  width:25vw;
}

/* mailbox */

.dt-mailbox{
  color: #fff;
}

.dt-show-files .dt-show-files-header {
  margin-bottom: 0;
}

.dt-icon {
  width: 12%;
}

.dt-icon-group {
  padding: 5vw 10vw;
  height: 63vh;
}

.dt-icon-group .dt-icon {
  float: left;
  margin-bottom: 20px;
}

.dt-icon-group .dt-icon img{
  height: 70px;
}

.dt-icon-group .dt-icon .dt-info-filename{
  color: #fff;
  font-size: 10px;
  margin-top:2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.dt-icon-group .dt-icon .dt-info-filesize,
.dt-icon-group .dt-icon .dt-info-filesender,
.dt-icon-group .dt-icon .dt-info-filerecipient {
  color: #fff;  
  font-size: 8px;
}

.dt-show-files-nav button{
  color: #fff;
  border: 0;
  background: none;
}

.dt-show-files-nav button.inactive{
  border: 0;
  opacity: 0.5;
  background: none;
}

