/* Type */

@font-face {
    font-family: 'Berthold Akzidenz-Grotesk Extended';
    src: url('assets/fonts/AkzidenzGroteskBE-Ex.woff2') format('woff2'),
        url('assets/fonts/AkzidenzGroteskBE-Ex.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Berthold Akzidenz-Grotesk Medium Extended';
    src: url('assets/fonts/AkzidenzGroteskBE-MdEx.woff2') format('woff2'),
        url('assets/fonts/AkzidenzGroteskBE-MdEx.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

* {
  font-family: 'Berthold Akzidenz-Grotesk Extended';
}

h1 {
  font-size: 2.6vw;
  letter-spacing: 0.1em;
  font-weight: normal;
  color: #fff;  
}

h2{
  letter-spacing: 2.1px;
  font-weight: normal;
  color: #fff;  
}

p{
  color: #fff;
}

/* Form */

input[type='text'], input[type='password'] {
  border-radius: 20px;
  border: 1px solid #6E716E;
  background-color: transparent;
  color: #939393;
  font-size: 1.2vw;
  padding: 10px 20px;
  padding-bottom: 8px;
  padding-right: 0;
  line-height: 1.4vw;
  margin-right: 10px;
}

input {
  color:#000;
}

.dt-sym-enc,
.dt-send-mail {
  text-align: left;
  padding: 0 100px;
}

.dt-form-group {
  margin-bottom: 20px;
}

.dt-form-group.dt-toggle input {
  width: 30px;
  float: left;
  position: relative;
  top: -3px;
}

.dt-form-two-inputs input {
  width: 40%;
}

/* Buttons */

.dt-btn.dt-btn-lg {
  /*height: 100px;*/
  border-radius: 100px;
  font-size: 2vw;
  padding: 20px;
  padding-bottom: 16px;
  background-color: #58CC8C;
  border: none;
  margin-right: 10px;
}

.dt-btn.dt-btn-sm {
  /*height: 100px;*/
  border-radius: 100px;
  font-size: 1vw;
  padding: 10px;
  padding-bottom: 8px;
  background-color: #fff;
  border: none;
  margin-right: 10px;
}

.dt-btn.dt-btn-green {
  background-color: #58CC8C;
  color: #fff;
}

.dt-btn.dt-btn-link {
  background-color: transparent;
  color: #fff;
}


/* Shared */

.dt-content-wrap {
  margin-left: 30px;
  margin-bottom: 30px;
}

.dt-wrapper{
  background: #FF6F58;  
  height:100vh;
  width:100vw;
  position: relative;
  overflow:hidden;
  z-index: 1;
}

.dt-nav-header{
  position:absolute;
}

.dt-select-file{
  position: absolute;
  background: #FF6F58;
  height:150vh;
  width:100vw;
  position: absolute;
  z-index: 2;
}

.dt-select-file-header{
  height: 50vh;
  width: 100vw;
  background: #2E332F;
  transition: transform 1s;
  display: table;
  background-image:url('assets/images/bg.png');
}

.dt-select-file-header.is-selecting{
  transform: translateY(-50vh); 
  transition: transform 1s;
}

.dt-select-file-header h1{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  opacity: 1;
}

.dt-select-file-header.is-selecting h1{
  opacity: 0;
  transition: opacity 1s;
}

.dt-select-file-main{
  height: 50vh;
  transition: transform 1s;  
  transition: height 1s;
}

.dt-select-file-main.is-selecting{
  height: 100vh;
  transform: translateY(-50vh);
  transition: transform 1s;
  transition: height 1s;
}

.dt-select-file-instruction{
  height: 50vh;
  width: 100vw;
  display: table;
  position: absolute;
  top: 0;
  transform: translateY(50vh);
  transition: transform 1s;  
}

.dt-select-file-instruction.is-selecting{
  transform: translateY(25vh);
  transition: transform 1s;
}

.dt-select-file-instruction h2{
  height: 100%;
  width: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.dt-info{
  top:0;
  background: #FF6F58;
  height:100vh;
  width:50vw;
  position: absolute;
  left:0px;
  transform: translateX(-50vw);
  transition: transform 1s;
  z-index: 5;
  border-right: 1px #2E332F;
  display:table;
}

.dt-info.is-selected{
  transform: translateX(0);
  transition: transform 1s;
}

.dt-info-content{
  display:table-cell;
  vertical-align: middle;
  text-align: center;
}

.dt-ui{
  top:0;
  background: #2E332F;
  width:50vw;
  position: absolute;
  left:50vw;
  height:100vh;
  z-index: 5;
  transform: translateX(50vw);
  transition: transform 1s;
  display:table;
}

.dt-ui.is-selected{
  transform: translateX(0);
  transition: transform 1s;
}

.dt-ui .dt-ui-wrapper{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
