.container {
  width: 100%;
  padding: 20px 20px 0 80px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.version {
  font-size: 12px;
  color: #fff;
  margin-left: 20px;
}

.actions {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.login {
  font-family: 'Lunchtype24-Medium-Expanded';
  color: #fff;
  font-size: 14px;
  line-height: 24px;
}

.login:hover {
  color: #fff;
  text-decoration: underline;
}
